@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

@theme {
  --color-mainColor: #ea2e0e;
  --color-grayColor: #2C2C2C;
}

@layer base {
  .hoverEffect {
    @apply transition-all duration-200 ease-in-out;
  }
  button {
    @apply hover:cursor-pointer;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}